.div1{
    background-color: rgb(121, 71, 71);
    height: 40vh;
    width: 70vw;
    border: 7px solid black;
    display: flex;
    justify-content: center;
}

.div2{
    border: 7px solid blue;
    background-color: white;
    height: 50%;
    width: 70%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}

p{
    margin-left: 65px;
    margin-top: 50px;
    font-weight: bold;
}

.div3{
    background-color: blue;
    height: 5vh;
    width: 70vw;
    margin-left: 200px;
}

.div4{
    background-color: purple;
    height: 5vh;
    width: 40vw;
    margin-left: 400px;
}

.div5 {
    background-color: green;
    height: 5vh;
    width: 55vw;
    margin-left: 300px;
}

.div6{
    background-color: yellow;
    height: 5vh;
    width: 45vw;
    margin-left: 370px;
}

.div7{
    background-color: red;
    height: 5vh;
    width: 35vw;
}

.div8{
    height: 5vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.vermelho{
    background-color: red;
    height: 5vh;
    width: 60%;
}

.aqua{
    background-color: rgb(8, 82, 82);
    height: 5vh;
    width: 30%;
}

.verde{
    background-color: rgb(16, 224, 16);
    height: 5vh;
    width: 50%;
}