.div1{
    background-color: rgb(196, 124, 196);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.div2 {
    background-color:  #ffcbdb;
    height: 100%;
    width: 250px;
    border: 20px solid red;
}

.div3{
    background-color:aquamarine;
    height: 88%;
    width: 30%;
}